<!DOCTYPE html>
<html>
<head>
  <title>MalloryFurniture</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="home-back">
    <ul>
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          <% end %>
        </a>
      </li>
      <li>
        <%= link_to :back do %>
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
         <% end %>
      </li>
    </ul>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
